<div class="row">
  <div class="col s12">
  <%= form_for(@tumor) do |f| %>
    <% if @tumor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tumor.errors.count, "error") %> prohibited this tumor from being saved:</h2>
        <ul>
        <% @tumor.errors.full_messages.each do |message| %>
          <div class="card-panel teal lighten-2">
            <% 
              asd = notice.split(/<>/) 
              asd.each do |item|
            %>
            <%= item %> <br>
            <% end %>
          </div>          
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <%= f.label :name, 'Nombres y apellidos' %>
        <%= f.text_field :name %>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
        <%= f.label :email, 'Direccion email' %>
        <%= f.email_field :email %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.select :edad, [["Menor a 30", "<30"], ["De 30 a 60", "30-59"], ["Mayor a 60", ">=60"]], { :include_blank => 'Seleccione una edad' }, :selected => params[:edad] %>
      </div>
      <div class="input-field col s6">
        <%= f.select :genero, [["Masculino", "hombre"], ["Femenino", "mujer"]], { :include_blank => 'Seleccione un genero' }, :selected => params[:genero] %>
      </div>
    </div>
    <div class="row">   
      <div class="input-field col s1">   
        <a class="modal-trigger" href="#modalTipoHistologico"><i class="tiny material-icons prefix">live_help</i></a>
      </div>
      <div class="input-field col s5 center-align">
        <%= f.select :tipo_histologico, [["Epidermoide", "epidermoide"], ["Adenoide", "adenoide"], ["Anaplasico", "anaplasico"]], { :include_blank => 'Seleccione una tipo histologico' }, :selected => params[:tipo_histologico] %>
      </div>
      <div class="input-field col s1">   
        <a class="modal-trigger" href="#modalGradoTumor"><i class="tiny material-icons prefix">live_help</i></a>
      </div>
      <div class="input-field col s5 center-align">
        <%= f.select :grado_tumor, [["Leve", "bueno"], ["Intermedio", "intermedio"], ["Grave", "grave"]], { :include_blank => 'Seleccione un grado del tumor' }, :selected => params[:grado_tumor] %>
      </div>
    </div>

    <div class="row">
    <div class="switch col s3 center-align">
      <h5><%= f.label :hueso, 'Malestar general al cuerpo', :class => "" %></h5>
      <label>
        No
        <%= f.check_box :hueso %>
        <span class="lever"></span>
        Si
      </label>
    </div>
    <div class="switch col s3 center-align">
      <h5><%= f.label :medula_osea, 'Dolor a los huesos' %></h5>
      <label>
        No
        <%= f.check_box :medula_osea %>
        <span class="lever"></span>
        Si
      </label>
    </div>
    <div class="switch col s3 center-align">
      <h5><%= f.label :pulmon, 'Dolor en la espalda (pulmones)' %></h5>
      <label>
        No
        <%= f.check_box :pulmon %>
        <span class="lever"></span>
        Si
      </label>
    </div>
    <div class="switch col s3 center-align">
      <h5><a class="modal-trigger" href="#modalPleura"><i class="tiny material-icons prefix">live_help</i></a>
      <%= f.label :pleura, 'Dolor al pecho (pleura)' %></h5>
      <label>
        No
        <%= f.check_box :pleura %>
        <span class="lever"></span>
        Si
      </label>
    </div>
    </div>

    <div class="row">
      <div class="switch col s4 center-align">
      <h5><a class="modal-trigger" href="#modalPeritoneo"><i class="tiny material-icons prefix">live_help</i></a>
      <%= f.label :peritoneum, 'Dolor bajo el torax (peritoneo)' %></h5>
      <label>
        No
        <%= f.check_box :peritoneum %>
        <span class="lever"></span>
        Si
      </label>
      </div>
      <div class="switch col s4 center-align">
        <h5><%= f.label :higado, 'Problemas al higado' %></h5>
        <label>
          No
          <%= f.check_box :higado %>
          <span class="lever"></span>
          Si
        </label>
      </div>
      <div class="switch col s4 center-align">
        <h5><%= f.label :cerebro, 'Dolor a la cabeza' %></h5>
        <label>
          No
          <%= f.check_box :cerebro %>
          <span class="lever"></span>
          Si
        </label>
      </div>
    </div>
    
    <div class="row">
      <div class="switch col s4 center-align">
        <h5><%= f.label :piel, 'Problemas en la piel' %></h5>
        <label>
          No
          <%= f.check_box :piel %>
          <span class="lever"></span>
          Si
        </label>
      </div>
      <div class="switch col s4 center-align">
        <h5><%= f.label :cuello, 'Dolor al cuello' %></h5>
        <label>
          No
          <%= f.check_box :cuello %>
          <span class="lever"></span>
          Si
        </label>
      </div>
      <div class="switch col s4 center-align">
        <h5><a class="modal-trigger" href="#modalSupraclavicular"><i class="tiny material-icons prefix">live_help</i></a>
        <%= f.label :supraclavicular, 'Dolor al corazon (supraclavicular)' %></h5>
        <label>
          No
          <%= f.check_box :supraclavicular %>
          <span class="lever"></span>
          Si
        </label>
      </div>
    </div>

    <div class="row">
      <div class="switch col s4 center-align">
        <h5><a class="modal-trigger" href="#modalGanglio"><i class="tiny material-icons prefix">live_help</i></a>
        <%= f.label :axilar, 'Problemas de ganglio axilar' %></h5>
        <label>
          No
          <%= f.check_box :axilar %>
          <span class="lever"></span>
          Si
        </label>
      </div>
      <div class="switch col s4 center-align">
        <h5><a class="modal-trigger" href="#modalMediastino"><i class="tiny material-icons prefix">live_help</i></a>
        <%= f.label :mediastino, 'Dolor al pecho (mediastino)' %></h5>
        <label>
          No
          <%= f.check_box :mediastino %>
          <span class="lever"></span>
          Si
        </label>
      </div>
      <div class="switch col s4 center-align">
        <h5>
        <%= f.label :abdominal, 'Dolor abdominal' %>
        </h5>
        <label>
          No
          <%= f.check_box :abdominal %>
          <span class="lever"></span>
          Si
        </label>
      </div>
    </div>
    
    <br>
    <div class="row">
      <div class="input-field col s2"></div>
      <div class="actions btn waves-effect waves-light col s3 center-align">
        <%= f.submit "Guardar" %>
      </div>
      <div class="input-field col s2"></div>
      <div class="actions btn waves-effect waves-light col s3 pink center-align">
        <%= f.submit "Limpiar", type: :reset %>    
      </div>
      <div class="input-field col s2"></div>
    </div>

  <% end %>

  </div>
</div>









<div id="modalTipoHistologico" class="modal">
    <div class="modal-content">
    <h4>Tipo Histológico</h4>
    <p>
      En la actualidad, está ampliamente aceptado que existen múltiples patrones morfológicos del carcinoma de mama y que el tipo histológico representa un factor pronóstico (5). Entre el 50% y el 70% de los carcinomas infiltrantes de mama son del tipo ductal sin características histológicas especiales (referido en la literatura anglosajona como ductal no special type, CDNST) (5). El resto de los casos corresponde a tipos histológicos definidos, algunos de los cuales deben ser destacados por su especial mejor pronóstico (33,34). Hay que tener en cuenta, que existe un grado de subjetividad a la hora de definir los tipos histológicos, por lo que la frecuencia relativa de los mismos varía según las series analizadas. Para que un tumor sea considerado como tipo histológico especial, las características que lo definen deben estar presentes al menos en el 90% de la masa tumoral; en caso de que estas características estén presentes en menor cuantía, mezcladas con áreas de CDNST, se denominan variedades de tipos especiales o formas mixtas.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>

<div id="modalGradoTumor" class="modal">
    <div class="modal-content">
    <h4>Grado Tumor</h4>
    <p>El grado de un tumor es la descripción de un tumor que se basa en la forma como se ven las células y el tejido de un tumor al microscopio. El grado de un tumor es una indicación de la rapidez con la que probablemente crecerá y se extenderá el tumor. Si las células del tumor y la organización del tejido del tumor se asemejan a las células y a los tejidos normales, el tumor se llama "bien diferenciado".  Estos tumores tienden a crecer y a extenderse a un paso más lento que los tumores que son "indiferenciados" o "escasamente diferenciados", los cuales tienen células que se ven anormales y a los que les pueden faltar las estructuras de tejido normal. Con base en estas y en otras diferencias de apariencia al microscopio, los médicos asignan un "grado" numérico a la mayoría de loscánceres. Los factores que se usan para determinar el grado de los tumores pueden variar entre los diferentes tipos de cáncer.
</p>
<h5>¿Cómo se clasifican los grados de un tumor?</h5>
<p>Los sistemas de gradación de los tumores difieren dependiendo del tipo de cáncer. En general, se asigna un grado de 1, 2, 3 o 4 a los tumores, dependiendo de qué tan anormalsean. En los tumores de grado 1, las células tumorales y la organización del tejido del tumor tienen una apariencia cercana a la normal. Estos tumores tienden a crecer y a diseminarse lentamente. Por el contrario, las células y el tejido de los tumores de grado 3 y 4 no se ven como las células y el tejido normales. Los tumores de grado 3 y 4 tienden a crecer rápidamente y a diseminarse con más rapidez que los tumores de un grado inferior.
Si no se especifica un sistema de gradación para un tipo de tumor, generalmente se usa el sistema siguiente (1):
</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>

<div id="modalPleura" class="modal">
    <div class="modal-content">
    <h4>Pleura</h4>
    <p>
La pleura es una membrana torácica muy delgada pero muy sólida que se compone de dos capas o láminas separadas por un espacio vacío, la cavidad pleural. Las dos capas, por lo tanto, se pueden desplazar con facilidad una sobre la otra. La hoja denominada pleura visceral o pleura pulmonar cubre la cara externa de los pulmones, mientras que la hoja denominada pleura parietal cubre la pared interna de la caja torácica. 
<br>
La pleura permite proteger a los pulmones por reducir los golpes y bloquear el paso de ciertos virus y bacterias. En caso de presencia de líquido en la cavidad se llama pleuresía; y en caso de presencia de gas hablamos de neumotórax. 
Su función principal es facilitar los movimientos pulmonares. Las patologías que pueden afectarla son de tipo inflamatorio, tumoral, traumático y derrames de líquidos (hidrotórax, hemotórax, piotórax) o gaseosos (neumotórax).
</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>

<div id="modalPeritoneo" class="modal">
    <div class="modal-content">
    <h4>Peritoneo</h4>
    <p>
El peritoneo es la membrana que recubre todos los órganos del abdomen . Se compone de dos capas: una que recubre la cavidad abdominal y la otra que recubre los órganos. Entre ambas queda una cavidad virtual, normalmente vacía. El peritoneo es a menudo una localización secundaria de un cáncer, es decir, las células cancerosas provienen de otros órganos como elpáncreas, el estómago, el colon o el cáncer de ovario: hablamos en este caso de carcinomatosis peritoneal. Cuando el cáncer se desarrolla a partir de las células del propio peritoneo lo llamamoscáncer primitivo del peritoneo. Forma parte de los cánceres llamados mesoteliomas que también puede afectar a la pleura (membrama situada alrededor de los pulmones) o al pericardio(memebrana que recubre el corazón) . 
</p>
<h5>Síntomas</h5>
<p>
Diferentes síntomas pueden hacer sospechar un cáncer del peritoneo. En general, el descubrimiento se realiza ante síntomas como el dolor abdominal o el aumento de lacircunferencia abdominal en etapas avanzadas. Otras síntomas pueden ser problemas con eltránsito intestinal o la formación de una hernia. En algunos casos, por otra parte, podemos encontrar una mesotelioma antes de que sea responsable de síntomas. 
</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>

<div id="modalSupraclavicular" class="modal">
    <div class="modal-content">
    <h4>Supraclavicular</h4>
    <p>
  La región supraclavicular, o triángulo supraclavicular, o hueco supraclavicular, está situada en las partes laterales del cuello, por encima de la clavícula, por detrás de la región esterno-cleido-mastoidea y por delante de la región de la nuca.
   Sus límites son: por delante el borde posterior del ECM, por detrás, el borde anterior del trapecio, por debajo la clavícula.
   Tiene forma triangular. La base o lado inferior es la clavícula, el vértice superior está formado por la unión del ECM y el trapecio. Por eso se llama también triángulo. Está ocupado en toda su extensión por una depresión cuya profundidad es muy variable, según los individuos, que aumenta normalmente de arriba abajo.
</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>

<div id="modalGanglio" class="modal">
    <div class="modal-content">
    <h4>Ganglio Axilar</h4>
    <p>
Un ganglio axilar es un ganglio linfático situado en la axila. Este pequeño cuerpo redondeado tiene un papel específico para transportar el líquido linfático o linfa. Esta participa en la defensa del cuerpo y proviene de los vasos linfáticos que drenan el brazo y que va a drenar al sistema de circulación sanguínea venosa. Muy pequeños, los ganglios axilares no se perciben generalmente en la palpación de las axilas, pero a veces pueden aparecer hinchados especialmente en caso de inflamación de una parte del brazo causado por un virus o una bacteria. Los ganglios linfáticos axilares también pueden aumentar su volumen en las mujeres con cáncer de mama. Diferentes exámenes, como un análisis de sangre en la etapa inicial, permiten encontrar las causas de esta inflamación.
</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>

<div id="modalMediastino" class="modal">
    <div class="modal-content">
    <h4>Mediastino</h4>
    <p>Los tumores mediastinales son masas o neoplasias que se forman en el mediastino, una zona en la mitad del tórax que separa los pulmones.
Causas
El mediastino es la parte del tórax que está entre el esternón y la columna vertebral y entre los pulmones. Esta zona contiene el corazón, los vasos sanguíneos grandes, la tráquea, el timo, el esófago y tejidos conectivos. El mediastino se divide en tres secciones:
<li>Anterior (frontal)</li>
<li>Media</li>
<li>Posterior (atrás)</li><br>
Los tumores del mediastino son infrecuentes.
La ubicación más común para los tumores del mediastino depende de la edad del paciente. En los niños, dichos tumores son más comunes en el mediastino posterior. Estos tumores con frecuencia comienzan en los nervios y no son cancerosos (benignos).
La mayoría de estos tumores en los adultos ocurre en el mediastino anterior y generalmente son linfomas, tumores de las células germinativas o timomas cancerosos (malignos). Estos tumores son más frecuentes en personas entre los 30 y los 50 años.
Síntomas
</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>