  <h1>Listing tumors</h1>
      <table class="responsive-table">
        <thead>
          <tr>
            <th>Edad</th>
            <th>Genero</th>
            <th>Tipo histologico</th>
            <th>Grado tumor</th>
            <th>Tipo tumor</th>
            <th>Expandir Elementos</th>
            <th>Editar Elementos</th>
            <th>Eliminar Elementos</th>
          </tr>
        </thead>

        <tbody>
          <% @tumors.each do |tumor| %>
            <tr>
              <td>
                <% if tumor.edad %>
                  <% if tumor.edad == ">30" %>
                    <%= "Menor a 30" %>
                  <% elsif tumor.edad = "30-59" %>
                    <%= "De 30 a 59" %>
                  <% elsif tumor.edad =="<60" %>
                    <%= "Mayor a 60" %>
                  <% end %>
                <% else %>
                  <%= "No se especifico la edad" %>
                <% end %>
              </td>
              <td>
                <% if tumor.genero %>
                  <% if tumor.genero == "hombre" %>
                    <%= "Masculino" %>
                  <% elsif tumor.genero = "mujer" %>
                    <%= "Femenino" %>
                  <% end %> 
                <% else %>
                  <%= "No se especifico un genero" %>
                <% end %>
              </td>
              <td><%= tumor.tipo_histologico.capitalize %></td>
              <td><%= tumor.grado_tumor.capitalize %></td>
              <td><%= tumor.tipo_tumor %></td>
              <td><%= link_to 'Mostrar Todo', tumor, :class => "actions btn waves-effect waves-light col s3 blue center-align white-text " %></td>
              <td><%= link_to 'Editar', edit_tumor_path(tumor), :class => "actions btn waves-effect waves-light col s3 green center-align white-text " %></td>
              <td><%= link_to 'Eliminar', tumor, method: :delete, data: { confirm: '¿Está seguro de querer eliminar el registro?' },
                    :class => "actions btn waves-effect waves-light col s3 pink center-align white-text " %></td>
            </tr>
          <% end %>
        </tbody>
      </table>


<br>

<%= link_to 'Nuevo Registro', new_tumor_path %>
